# Atom
.ropeproject/

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info
.eggs
.env*

# Node
node_modules/

# Pyrate
lib/backend/application-custom.cfg
lib/backend/database/pyrate*.db
lib/backend/trainings/markovify/*.json
lib/backend/trainings/MarkovChain/*.model
lib/backend/uploads/*/*.txt
lib/backend/uploads/*/*.pdf
lib/backend/tests/trainings/markovify/*.json
lib/backend/tests/trainings/MarkovChain/*.model
lib/backend/tests/uploads/
lib/frontend/assets/
lib/frontend/static/

# Caches
.cache
.coverage
.eslintcache

# Build
dist
build
Makefile.custom.config
