# Atom
.ropeproject/

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info
.eggs
.env*

# Node
node_modules/

# Pyrate
lib/backend/application-custom.cfg
lib/backend/database/
lib/frontend/assets/
lib/frontend/static/

# Caches
.cache
.coverage
.eslintcache

# Build
dist
build
Makefile.custom.config
